<p class = "3rd">Create Questions</p>

<p class = "question">Question:</p>

<form>
  <div class="grid-container">
    <div class="grid-x grid-padding-x">
      <div class="medium-6 cell">
        <label>Question:
          <input type="text" placeholder="">
        </label>
      </div>
      <div class="medium-6 cell">
        <label>Answer:
          <input type="text" placeholder="">
        </label>
      </div>
       <div class="medium-6 cell">
        <label>Categories:
          <input type="text" placeholder="">
        </label>
      </div>
    </div>
  </div>
</form>

<a href="/smartini/play" class="button create-game-button">Create </a>