<div class="centered">
    <p class="title">Smartini Trivia</p>

    <p>Login to create your own game questions!</p>
    <p class="Play">How to Play</p>
    <p class="words">Smartini is a Trivia game that genrates random questions or you can make your own questions and answers. Click on Create Game for Random Generated Questions or click on Create Question to make up your own questions. Once this is all set up then click start and enjoy playing with your friends online.You will need to Create an Account or Login first!</p>

    <a href="/smartini/random" class="button create-game-button">Create Game</a>
  
    {{#unless isNotLoggedIn}}
    <a href="/smartini/create" class="button create-game-button">Make Questions</a>
    {{/unless}}

    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/too-many-questions-royalty-free-image-487063216-1545936032.jpg" alt="Question Marks">
</div>