<p class= "title">Smartini Trivia</p>
{{!-- //https://get.foundation/sites/docs/forms.html --}}
 <ul class="right"></ul>
        <div class="column">
        <li class="username"><form><input type="text" placeholder="Username" /></li></div>
        <div class="column">
        <li><input type="password" placeholder="Password"></li></div>
        <div class="column">
        <li class="has-button"><a class="small button" href="#">Login</a></form></li></div>
    </ul>

<p  class = "Play">How to Play</p>
<h6>Smartini is a Trivia game that genrates random questions or you can make your own questions and answers. Click on Create Game for Random Generated Questions or click on Create Question or make up your own questions. Once this is all set up then click start and enjoy playing with your friends online.</h6>

<a href="/smartini/random" class="button create-game-button">Create Game</a>


<a href="/smartini/create" class="button create-game-button">Make Questions </a>

 