<div class="centered">
    <p class="title">Smartini Trivia</p>
    {{!-- //https://get.foundation/sites/docs/forms.html --}}
    <a class="small button" href="/users/login">Login</a>
    <a class="small button" href="/users/create">Create Account</a>

    <p>Login to Play</p>
    <p class="Play">How to Play</p>
    <p class="words">Smartini is a Trivia game that genrates random questions or you can make your own questions and answers. Click on Create Game for Random Generated Questions or click on Create Question to make up your own questions. Once this is all set up then click start and enjoy playing with your friends online.You will need to Create an Account or Login first!</p>

    <a href="/smartini/random" class="button create-game-button">Create Game</a>
  

    <a href="/smartini/create" class="button create-game-button">Make Questions </a>

    <img src="https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/too-many-questions-royalty-free-image-487063216-1545936032.jpg" alt="Question Marks">
</div>