<div class="success centered">
  <p class = "random">Random Game</p>

  {{!-- <p class="number">Number of Questions</p> --}}

  <form>
    <div class="grid-container">
      <div class="grid-x grid-padding-x">
        <div class="small-5"></div>
        <div class="small-2 cell">
          <label>Number of questions
            <input type="number" id="numberOfQuestions" name="numberOfQuestions" value="10" />
          </label>
        </div>
        <div class="medium-12 cell">
          <div class="switch small">
            <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
            <label for="exampleRadioSwitch1">Random Questions</label>
          </div> 

          <div class="switch small">
            <input id="exampleRadioSwitch2" type="radio" name="testGroup">
            <label for="exampleRadioSwitch2">My Questions</label>
          </div> 
          <div class="switch small">
            <input id="exampleRadioSwitch2" type="radio" name="testGroup">
            <label for="exampleRadioSwitch2">Mixed</label>
          </div> 
        </div>
      </div>
    </div>
  </form>  

  <a href="/smartini/play" class="button create-game-button">Start Game</a>
</div>


