
<p class = "random">Random Game</p>

<h4 class="number">Number of Questions</h4>

<button class="dropdown button tiny">Dropdown Button</button>


<!-- Using radio buttons – each switch turns off the other two -->
<div class="switch small">
  <input id="exampleRadioSwitch1" type="radio" checked name="testGroup">
  <label for="exampleRadioSwitch1">Random Questions</label>
</div> 

<div class="switch small">
  <input id="exampleRadioSwitch2" type="radio" name="testGroup">
  <label for="exampleRadioSwitch2">My Questions</label>
</div> 

<a href="/smartini/play" class="button create-game-button">Start Game</a>


