<div class="centered">
<p>Login to your account! Type in a username and password. Click on Create Account or Login</p>
<form action="/users/login" method="POST">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
                <input type="text" placeholder="Username" name="username" />
            </div>
            <div class="cell medium-6">
                <input type="password" placeholder="Password" name="password">
            </div>
            <div class="cell">
                <input type="submit" class="small button" value="Login" />
            </div>
        </div>
    </div>
</form>
</div>