<div class="centered">
<p>Sign up for an account. To be able to make your own questions, you will need to make and account and sign in! Type in a username and password. Click on Create Account.</p>
<form action="/users/register" method="POST">
    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <div class="cell medium-6">
                <input type="text" placeholder="Username" name="username" />
            </div>
            <div class="cell medium-6">
                <input type="password" placeholder="Password" name="password">
            </div>
            <div class="cell">
                <input type="submit" class="small button" value="Create Account" />
            </div>
        </div>
    </div>
</form>
</div>